body{
  background-color: rgb(44, 5, 44);
}

.App {
  justify-content: space-between;
  width:100%;
  
}

header{
  width:100%;
  color: aqua;
  padding:2%;
}

img{
  border-radius: 10px;
  width: 35%;
  margin:6%;
}
div{
  
  display:flex;
  flex-wrap:wrap;
}
.character-card{
  margin:2%;
  justify-content: center;
  border: 8px solid orange;
  background-color: rgba(31, 128, 128, 0.438);
  box-shadow: 4px 4px 4px 4px rgba(12, 1, 12, 0.733);
  border-radius: 20px;
  color: pink;
  width: 30%;
}
p{
  width:45%;
}
/* @media(min-width: 900px){
  .character-card{
    
    
  }
} */
